################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages
/OdataBearerAuth/bin
/OdataBearerAuth/obj
/OdataKendo/bin
/OdataKendo/obj
